@import 'tailwindcss';

:root {
	--color-bg-black: #000000;
	--color-bg-dark: #272424b3; /* b3 = 70% */
	--color-accent-blue: #2787f5e6; /* e6 = 90% */
	--color-accent-purple: #a393f5e6; /* e6 = 90% */

	--bg-gradient: linear-gradient(
		135deg,
		var(--color-accent-blue) 0%,
		var(--color-accent-purple) 100%
	);
}

@theme {
	--font-sans: var(--font-open-sans), Arial, Helvetica, sans-serif;
	--font-play: var(--font-play), Arial, Helvetica, sans-serif;

	--text-xs: 12px;
	--text-sm: 14px;
	--text-base: 18px;
	--text-lg: 20px;
	--text-xl: 24px;
	--text-2xl: 40px;
	--text-3xl: 48px;
	--text-4xl: 60px;

	--color-accent: #dc5dfc;
	--color-secondary: #393b3c;
	--color-error: #ff7575;
	--color-accent-purple-light: #b4a9ff;
}

@layer utilities {
	.active-item {
		@apply border-accent border-b-[1.5px] px-0 py-2;
	}
}

body {
	min-height: 100vh;
	background:
		linear-gradient(180deg, #000 0%, #272424b2), linear-gradient(135deg, #2787f5e5 0%, #a393f5e5);
	color: #fff;
	font-family: var(--font-play), Helvetica, sans-serif;
}

button {
	@apply cursor-pointer;
}
